<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>Sun - Html Responsive Template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by Dry Themes" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="DryThemes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="images/favicon.png" />    
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700' rel='stylesheet' type='text/css'>	
        <link rel="stylesheet" type="text/css"  href='css/clear.css' />
        <link rel="stylesheet" type="text/css"  href='css/common.css' />
        <link rel="stylesheet" type="text/css"  href='css/font-awesome.min.css' />
        <link rel="stylesheet" type="text/css"  href='css/carouFredSel.css' />
        <link rel="stylesheet" type="text/css"  href='css/prettyPhoto.css' />        
        <link rel="stylesheet" type="text/css"  href='css/sm-clean.css' />        
        <link rel="stylesheet" type="text/css"  href='style.css' />

        <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>                
                <script src="js/respond.min.js"></script>                
        <![endif]-->

    </head>
    <body class="page">

        <table class="doc-loader">
            <tbody>
                <tr>
                    <td>
                        <img src="images/ajax-document-loader.gif" alt="Loading...">                    
                    </td>
                </tr>
            </tbody>
        </table>   

        <div class="header-search">
            <div class="content-1330 center-relative">
                <form class="search-form">
                    <label>		
                        <input type="search" class="search-field" placeholder="Search ..." value="" name="s" title="Search for:">                        
                    </label>    
                </form>               
            </div>
        </div>


        <div class="body-wrapper">           
            <div class="content-1330 header-holder center-relative">
                <div class="header-logo left">

                    <h1 class="site-title">
                        <a href="index.html">
                            <img src="images/sunDefaultLogo.png" alt="Sun-">
                        </a>               
                    </h1>

                </div>

                <div class="header-menu right">
                    <nav id="header-main-menu" class="left">
                        <ul class="main-menu sm sm-clean">
                            <li>
                                <a href="index.html">Home</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="index-image.html">Home & Image</a>
                                    </li>
                                    <li>
                                        <a href="index-slider.html">Home & Slider</a>
                                    </li>
                                    <li>
                                        <a href="index-blog.html">Home & Blog</a>
                                    </li>
                                    <li>
                                        <a href="index-video.html">Home & Video</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="portfolio.html">Portfolio</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>        
                            <li>
                                <a href="contact.html">Contact</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="contact-map.html">Contact & Map</a>
                                    </li>                                    
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="toggle-holder relative right">
                        <div id="toggle">
                            <i class="fa fa-search"></i>                      
                        </div>
                    </div>
                    <div class="clear"></div>							
                </div>
                <div class="clear"></div>
            </div>

            <div id="content" class="site-content">
                <article>
                    <div class="content-1330 center-relative">
                        <div class="one_half">
                            <strong>Contact</strong>
                            <br>
                            <p>We choose to go to the moon in this decade and do the other things, not because they are easy.</p>
                            <p>&nbsp;</p>
                            <p>Because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone and one.</p>
                            <p>&nbsp;</p>                            
                            <p>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6044.7596533049755!2d-75.295283!3d40.75367!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1516053091606" width="600" height="450" allowfullscreen></iframe>
                            </p>
                        </div>

                        <div class="one_half last">
                            <div class="contact-form">                            
                                <p><input id="name" type="text" name="your-name" placeholder="Name"></p>
                                <p><input id="contact-email" type="email" name="your-email" placeholder="Email"></p>
                                <p><input id="subject" type="text" name="your-subject" placeholder="Subject"></p>
                                <p><textarea id="message" name="your-message" placeholder="Message"></textarea></p>
                                <p><input type="submit" onClick="SendMail()" value="SEND"></p>                                 
                            </div>  
                        </div>
                        <div class="clear"></div>
                    </div>
                </article>


            </div>

            <!--Footer-->

            <footer class="footer">
                <div class="content-1330 center-relative">			
                    <ul>
                        <li class="left-footer-content">
                            © 2018 Sun HTML Template. Crafted with <i class="fa fa-heart"></i> by <a href="http://drythemes.com">DryThemes</a>.            
                        </li>
                        <li class="center-footer-content">                
                            <a href="index.html">
                                <img src="images/sunDefaultLogoFooter.png" alt="Sun-">
                            </a>                
                        </li>
                        <li class="right-footer-contnet">
                            <a href="#">Twitter</a>
                            <a href="#">Linkedin</a>
                            <a href="#">Dribbble</a>
                            <a href="#">Instagram</a>            
                        </li>
                        <li class="left-footer-content mobile">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </li>
                    </ul>
                </div>
            </footer>

            <!-- End .body-border -->
        </div>



        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>			                                       
        <script src='js/jquery.fitvids.js'></script>
        <script src='js/jquery.smartmenus.min.js'></script>        
        <script src='js/imagesloaded.pkgd.js'></script>        
        <script src='js/isotope.pkgd.js'></script>        
        <script src='js/jquery.carouFredSel-6.0.0-packed.js'></script>
        <script src='js/jquery.mousewheel.min.js'></script>
        <script src='js/jquery.touchSwipe.min.js'></script>
        <script src='js/jquery.easing.1.3.js'></script>
        <script src='js/jquery.prettyPhoto.js'></script>        
        <script src='js/jquery.ba-throttle-debounce.min.js'></script>                
        <script src='js/jquery.nicescroll.min.js'></script>
        <script src='js/main.js'></script>
    </body>
</html>