<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>Sun - Html Responsive Template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by Dry Themes" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="DryThemes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="images/favicon.png" />    
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700' rel='stylesheet' type='text/css'>		
        <link rel="stylesheet" type="text/css"  href='css/clear.css' />
        <link rel="stylesheet" type="text/css"  href='css/common.css' />
        <link rel="stylesheet" type="text/css"  href='css/font-awesome.min.css' />
        <link rel="stylesheet" type="text/css"  href='css/carouFredSel.css' />
        <link rel="stylesheet" type="text/css"  href='css/prettyPhoto.css' />        
        <link rel="stylesheet" type="text/css"  href='css/sm-clean.css' />        
        <link rel="stylesheet" type="text/css"  href='style.css' />

        <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>                
                <script src="js/respond.min.js"></script>                
        <![endif]-->

    </head>
    <body class="page">

        <table class="doc-loader">
            <tbody>
                <tr>
                    <td>
                        <img src="images/ajax-document-loader.gif" alt="Loading...">                    
                    </td>
                </tr>
            </tbody>
        </table>   

        <div class="header-search">
            <div class="content-1330 center-relative">
                <form class="search-form">
                    <label>		
                        <input type="search" class="search-field" placeholder="Search ..." value="" name="s" title="Search for:">                        
                    </label>    
                </form>               
            </div>
        </div>


        <div class="body-wrapper">           
            <div class="content-1330 header-holder center-relative">
                <div class="header-logo left">

                    <h1 class="site-title">
                        <a href="index.html">
                            <img src="images/sunDefaultLogo.png" alt="Sun-">
                        </a>               
                    </h1>

                </div>

                <div class="header-menu right">
                    <nav id="header-main-menu" class="left">
                        <ul class="main-menu sm sm-clean">
                            <li>
                                <a href="index.html">Home</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="index-image.html">Home & Image</a>
                                    </li>
                                    <li>
                                        <a href="index-slider.html">Home & Slider</a>
                                    </li>
                                    <li>
                                        <a href="index-blog.html">Home & Blog</a>
                                    </li>
                                    <li>
                                        <a href="index-video.html">Home & Video</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="portfolio.html">Portfolio</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>        
                            <li>
                                <a href="contact.html">Contact</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="contact-map.html">Contact & Map</a>
                                    </li>                                    
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="toggle-holder relative right">
                        <div id="toggle">
                            <i class="fa fa-search"></i>                      
                        </div>
                    </div>
                    <div class="clear"></div>							
                </div>
                <div class="clear"></div>
            </div>

            <div id="content" class="site-content">
                <article>
                    <div class="content-1330 center-relative">
                        <div class="page-desc">
                            Science cuts two ways, of course, its products can be used for both good and evil. But there’s no turning back from science. The early warnings about technological dangers also come from science.
                        </div>
                        <div class="clear"></div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <div class="button-group filters-button-group">
                            <div class="button is-checked" data-filter="*">All</div>
                            <div class="button" data-filter=".post">Post</div>
                            <div class="button" data-filter=".image">Image</div>
                            <div class="button" data-filter=".video">Video</div>
                            <div class="button" data-filter=".extern">Extern</div>                                
                        </div>
                        <div class="grid" id="portfolio">
                            <div class="grid-sizer"></div>
                            <div class="grid-item element-item p_one_third post">
                                <a href="single-portfolio.html">
                                    <img src="demo-images/sun_portfolio_image01.png" alt="">
                                    <div class="portfolio-text-holder">
                                        <p>CLOCK</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="grid-item element-item p_one_third image">
                                <a href="demo-images/sun_portfolio_image03.png" data-rel="prettyPhoto[gallery1]">
                                    <img src="demo-images/sun_portfolio_image03.png" alt="">
                                    <div class="portfolio-text-holder">
                                        <p>BAG</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="grid-item element-item p_one_third post">
                                <a href="single-portfolio.html">
                                    <img src="demo-images/sun_portfolio_image04.png" alt="">
                                    <div class="portfolio-text-holder">
                                        <p>FISH</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="grid-item element-item p_one_third video">
                                <a href="https://www.youtube.com/watch?v=xEW_YXgRSIE" data-rel="prettyPhoto[gallery1]">
                                    <img src="demo-images/sun_portfolio_image02.png" alt="">
                                    <div class="portfolio-text-holder">
                                        <p>BOTTLE</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="grid-item element-item p_one_third extern">
                                <a href="http://drythemes.com" target="_blank">
                                    <img src="demo-images/sun_portfolio_image05.png" alt="">
                                    <div class="portfolio-text-holder">
                                        <p>PAPER</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="grid-item element-item p_one_third post">
                                <a href="single-portfolio.html">
                                    <img src="demo-images/sun_portfolio_image07.png" alt="">
                                    <div class="portfolio-text-holder">
                                        <p>BLUE ICE</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <div class="one_half">
                            <p>
                                <strong>The Story</strong>
                                <br>
                                With a warning label this big, you know they gotta be fun. Bring me the forms I need to fill out to have her taken away. I decline the title of iron cook and accept the lesser title of zinc saucier, which I just made up.
                            </p>
                            <p>&nbsp;</p>
                            <p>Curabitur felis mi, sodales id ligula ac, pulvinar condimentum nulla. Integer dignissim bibendum augue, id dapibus nisl maximus non. Pellentesque rhoncus vitae odio ut euismod.</p>
                        </div>
                        <div class="one_half last">
                            <p>
                                <strong>Dreamers</strong>
                                <br>
                                You probably haven’t heard of them before they sold out scenester literally readymade. Trust fund Thundercats flexitarian, aesthetic Tumblr banjo freegan semiotics biodiesel master cleanse taxidermy blog.
                            </p>
                            <p>&nbsp;</p>                            
                            <div class="text-left">
                                <a href="portfolio.html" target="_self" class="button ">More…</a>
                            </div>                        
                        </div>
                        <div class="clear"></div>
                    </div>
                </article>
            </div>

            <!--Footer-->

            <footer class="footer">
                <div class="content-1330 center-relative">			
                    <ul>
                        <li class="left-footer-content">
                            © 2018 Sun HTML Template. Crafted with <i class="fa fa-heart"></i> by <a href="http://drythemes.com">DryThemes</a>.            
                        </li>
                        <li class="center-footer-content">                
                            <a href="index.html">
                                <img src="images/sunDefaultLogoFooter.png" alt="Sun-">
                            </a>                
                        </li>
                        <li class="right-footer-contnet">
                            <a href="#">Twitter</a>
                            <a href="#">Linkedin</a>
                            <a href="#">Dribbble</a>
                            <a href="#">Instagram</a>            
                        </li>
                        <li class="left-footer-content mobile">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </li>
                    </ul>
                </div>
            </footer>

            <!-- End .body-border -->
        </div>



        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>			                                       
        <script src='js/jquery.fitvids.js'></script>
        <script src='js/jquery.smartmenus.min.js'></script>        
        <script src='js/imagesloaded.pkgd.js'></script>        
        <script src='js/isotope.pkgd.js'></script>        
        <script src='js/jquery.carouFredSel-6.0.0-packed.js'></script>
        <script src='js/jquery.mousewheel.min.js'></script>
        <script src='js/jquery.touchSwipe.min.js'></script>
        <script src='js/jquery.easing.1.3.js'></script>
        <script src='js/jquery.prettyPhoto.js'></script>        
        <script src='js/jquery.ba-throttle-debounce.min.js'></script>                
        <script src='js/jquery.nicescroll.min.js'></script>
        <script src='js/main.js'></script>
    </body>
</html>